<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: common-header">
    </head>
    <body>
	    <div class="container">
	    	<h1>Available Questionnaires</h1>
	    	<p>Please submit responses before classes begin.</p>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Course</th>
						<th scope="col">Status</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="answerForm : ${answerForms}">
						<td th:text="${answerForm.courseNickname}"></td>
						<td th:text="${answerForm.status}"></td>
						<td>
							<a th:href="${answerForm.screenerId} + '/answer'" 
								class="btn btn-sm btn-block" 
								role="button"
								th:classAppend="${answerForm.status.toString().equals('SUBMITTED')} ? btn-outline-primary : btn-primary"
								th:text="${answerForm.status.toString().equals('SUBMITTED') ? 'View' : 'Answer'}"></a>
						</td>
					</tr>
				</tbody>
			</table>
	    </div>
	    <div th:replace="fragments/footer :: footer"></div>
	</body>
</html>
