<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: common-header">
    </head>
    <body>
	    <div class="container">
	        <h1 th:text="${answerForm.courseNickname}"></h1>
	        <h1>Entrance Questionnaire</h1>
	        <p th:text="${answerForm.description}"></p>
	        <div th:switch="${answerForm.answers.isEmpty()}">
		        <p th:case="true">No Questions Available</p>
		        <div th:case="false">
			        <form action="#" th:action="@{/screener/__${answerForm.screenerId}__/answer}" th:object="${answerForm}" method="post">
			        <fieldset th:disabled="${answerForm.status.toString().equals('SUBMITTED')}">
			        	<input type="hidden" th:field="*{studentId}">
			        	<input type="hidden" th:field="*{screenerId}">
			        	<input type="hidden" th:field="*{courseNickname}">
			        	<input type="hidden" th:field="*{description}">
			        	
			        	<div class="form-group" th:each="answer, answerStat: ${answerForm.answers}" th:switch="${answer.getType()}">
			        		<input type="hidden" th:field="*{answers[__${answerStat.index}__].questionId}">
			        		<input type="hidden" th:field="*{answers[__${answerStat.index}__].prompt}">
			        		<input type="hidden" th:field="*{answers[__${answerStat.index}__].type}">
			        		<input type="hidden" th:field="*{answers[__${answerStat.index}__].options}">
			        		
			        		<h4 th:text="'Question ' + ${answerStat.index + 1}"></h4>
							<p th:text="${answer.getPrompt()}"></p>
			        		<div th:case="STRING">
			        			<input type="text" class="form-control" placeholder="text answer" th:field="${answerForm.answers[__${answerStat.index}__].value}"></input>
			        		</div>
			        		<div th:case="NUMBER">
			        			<input type="number" class="form-control" placeholder="numeric answer" th:field="*{answers[__${answerStat.index}__].value}"></input>
			        		</div>
			        		<div th:case="SINGLESELECT">
		        				<div class="radio" th:each="option, optionStat: ${answer.options}">
								  <input type="radio"
								  	th:field=*{answers[__${answerStat.index}__].value}
								  	th:value="${option}" />
								  <label th:text="${option}"></label>
								</div>
			        		</div>
			        		<div th:case="MULTISELECT">
		        				<div class="checkbox" th:each="option, optionStat: ${answer.options}">
								  <input type="checkbox"
								  	th:field=*{answers[__${answerStat.index}__].values}
								  	th:value="${option}" />
								  <label th:text="${option}"></label>
								</div>
			        		</div>
				        	<div th:case="*" th:text="${answer.getType()} + ' Unrecognized question type!'"></div>
			        	</div>
			        	<div th:unless="${answerForm.status.toString().equals('SUBMITTED')}">
				            <button type="submit" name="action" value="save" class="btn btn-lg btn-secondary">Save Progress</button>
				            <button type="submit" name="action" value="submit" class="btn btn-lg btn-primary">Save and Submit</button>
			            </div> 
			        </fieldset>
			        </form>
		        </div>
	        </div>
	    </div>
	    <div th:replace="fragments/footer :: footer"></div>
	</body>
</html>
