<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <head th:replace="fragments/header :: common-header">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/custom.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" /> 
    </head>
    <body>
    	<div th:replace="fragments/header :: header"></div>
        <div class="d-flex justify-content-start">
         				<form action="#" th:action="@{/Advisor/foundStudents}" th:object="${student}" method="POST">
                  
            
          
            
            
        </div>
         <div class="d-flex justify-content-center">
         
         <div class="container"> 
        	<table class="table table-striped table-md table-bordered">
        		<thead>
        			<tr>
        				<th> Student ID </th>
        				<th> Advisor ID </th>
        				
        			</tr>
        		</thead>
        		<tbody>
        			<tr th:if="${students.empty}">
        				<td th:colspan="2">No Students Found </td>
        			</tr>
        			<tr th:each="Advisor_To_Students : ${Advisors_To_Students}">
        				<td><span th:text="${Advisor_To_Students.studentid}"> Course </span></td>
            			<td><span th:text="${Advisor_To_Students.employeeid}"> Subject </span></td>
        			</tr>
        		</tbody>
        	</table>  	
        </div> 
        </form>
        </div>
      
      </div>
        <div th:replace="fragments/footer :: footer"></div>    
    </body>
</html>
